@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Space Grotesk", "sans-serif";
}

body{
    background-color: #123524;
}

.banner{
    background-color: #000000;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 100;
    
}

.navRight{
    display: flex;
    gap: 4rem;
}

.logo{
    cursor: pointer;
    font-family: "Handjet", sans-serif;
    color: #5bff73;
}

.logo:hover{
    color: lightgreen;
    transition: 0.1s ease-in;
}

.cartBar{
    cursor: pointer;
    border: 1px solid white;
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.badge{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background: lightgreen;
    color: rgb(0, 0, 0);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.cartBar:hover{
    color:  rgb(148, 255, 148);
}

.products-w{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    gap: 1rem;
}

.boxImg{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 25rem;
    height: 15rem;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: #85A947;
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.productMeta{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: #3E7B27;
    border-radius: 1rem;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.productTitle{
    display: flex;
    align-items: start;
}

.sideBar{
    display: none;
}

.addBtn{
    padding: 1rem;
    background-color: #000000;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    color: white;
}

.addBtn:hover{

    background-color: #268623;
}

.sideBarActive {
    display: flex;
    flex-direction: column;
    background-color: #23600d;
    color: white;
    position: fixed;
    top: 4rem;
    right: 0;
    width: 30rem;
    height: 40rem;
    padding: 1rem;
    transform: translateX(0rem);
    z-index: 1000;
    border-bottom-left-radius: 2rem;
}

@media (max-width: 500px) {

    .sideBarActive {
        width: 20rem;
    }

    .boxImg{
        width: 20rem;
    }
    
    .box{
        width: 20rem;
    }
    
    
}

.item{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.5fr;
    

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
}

.item:hover{
    background-color: #0d5404;
}

.delItem{
    background-color: #006818;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    outline: 2px solid black;
}

.delItem:hover{
    
    border-radius: 1rem;
    transition: 0.1s ease-in;
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #004207;
    border-radius: 0.8rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
}

.buyBtn{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #04a31b;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    outline: 2px solid black;
    font-size: 1rem;
}

.buyBtn:hover{
    border-radius: 1rem;
    transition: 0.1s ease-in;
}   

.empty{
    font-size: 1rem;
    padding: 1rem;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    text-decoration: none;
}

.menu a {
    text-decoration: none; /* Removes the underline */
    color: rgb(255, 255, 255); /* Default color */
  }
  
  .menu a.active {
    color: rgb(0, 115, 29); /* Highlight the active link */
  }
  
  .menu a:hover{
    color: #5bff73;
    transition: 0.1s ease-in;
  }

  .mv-container{
    display: flex;
    padding: 2rem;
    gap: 1rem;
  }

  .mission, .vision{
    text-align: center;
    color: white;
    background-color: #3E7B27;
    padding: 4rem;
    overflow: hidden;
 
  }

  .mission p{
    padding-top:0.5rem;
    font-size:1.2rem;
  }

  .vision p{
    padding-top:0.5rem;
    font-size:1.2rem;
  }

.footer{
    height: 25rem;
    width: 100vw;
    background-color: black;
}

.ham{
    display: none;
}

.hamMenu{
    display: none;
}

@media (max-width: 800px) {
    
    .mv-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
      }
    
      .menu{
        display: none;
      }

    .ham{
        cursor: pointer;
        border: 1px solid white;
        width: 3rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ham:hover{
        color: #5bff73;
    }

    .hamMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color:#23600d;
        width: 20rem;
        top: 4rem;
        right: 0rem;
        height: 100vh;
        text-align: center;
        line-height: 3rem;
        z-index: 1000;
    }

    .hamMenu a {
        text-decoration: none; /* Removes the underline */
        color: rgb(255, 255, 255); /* Default color */
      }
      
      .hamMenu a:hover{
        color: #5bff73;
        transition: 0.1s ease-in;
      }

}

.aboutUs{
    font-size: 1.5rem;
    color: white;
    padding: 5rem;
}

.aboutUs > ul >li{
    text-decoration: none;
    list-style: none;
    padding-left: 1rem;
}